* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/sun5.jpg);
    background-position: center;
    background-size: cover;
}
.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;  
}
nav img{
    width: 150px;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: #a5372f54;
    transition: 1s;
    backdrop-filter: blur(30px);
}
nav .fa{
    display: none;
}

@media (max-width:991px) {
    html {
         font-size: 55%;
    }
}

@media (max-width:450px) {
    html {
         font-size: 55%;
    }
}

@media (max-width:780px) {
    .header .text-box h1{
       font-size: 15rem;
   }
   .header .text-box{
       margin: .1rem 0 1rex;
   }
   .text-box3 {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   }
   .header .text-box3 h1{
    font-size: 20px;
    text-align: center;
   }
   .header .text-box h1{
    font-size: 14px;
   }
}
/*---------- footer ----------*/



footer{
    text-align: center;
    margin: 100px 0 0px;
}
.pp{
    color: #00000098;
}
.div{
    justify-content: space-between;
    
}
.footer{
    justify-content: space-between;
    text-align: center;
    color: #120ee4;
    backdrop-filter: blur(15px);
}
.footer p{
    color: #7c7986;
}